:root {   
  /* Typography */
  --textHuge : 78px;
  --textXJumbo : 48px;
  --textJumbo : 26px;
  --textXLG : 18px;
  --textLG : 16px;
  --textXMD : 14px;
  --textMD : 13px;
  --textSM : 12px;
  --textXSM : 11px;

  /* Rounded */
  --roundedCircle : 100%;
  --roundedJumbo : 34px;
  --roundedXLG : 20px;
  --roundedLG : 18px;
  --roundedMD : 14px;
  --roundedSM : 10px;
  --roundedMini : 6px;

  /* Spacing */
  --spaceJumbo : 35px;
  --spaceXLG : 24px;
  --spaceLG : 20px;
  --spaceXMD : 16px;
  --spaceMD : 12px;
  --spaceSM : 10px;
  --spaceXSM : 8px;
  --spaceXXSM : 6px;
  --spaceMini : 4px;

  /* Table column min width */
  --tcolMinXSM : 60px;
  --tcolMinSM : 120px;
  --tcolMinMD : 140px;
  --tcolMinLG : 180px;
  --tcolMinJumbo : 240px;
  --tcolMinHuge : 360px;

  --primaryLightBG : #a698cd;
  --successBG : #009b77;
  --successDarkBG : #68baa6;
  --dangerBG : #ff5791;
  --warningBG : #ff8b68;
  --warningDarkBG : #ffc455;
  --warningLightBG : #fceddb;
  --infoBG : #0074f6;
  --infoLightBG : #0087f0;
  --hoverBG : #F2F2F2;

  --primaryColor : #6856e1;
  --blackColor : #212121;
  --darkColor : #494454;
  --whiteColor : #FFFFFF;
  --greyColor : #fcf7ff;
  --shadowColor : #f7ebff;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

.content {
  height: 90vh;
}

body {
  background: var(--greyColor) !important;
  font-family: 'Poppins', 'Lexend', sans-serif !important;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
